<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/navbar.css" />
    <script src="../javascripts/navbar.js" defer></script>
    <link rel="stylesheet" href="../css/informManage.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src='../javascripts/informManage.js' defer=''></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>通知管理</title>
</head>

<body>
    <ul class="nav" style="display: block;">
        <li id="home" class="icon"><a href="http://elearning.nuk.edu.tw" style="height:auto;"><img class="placeHolder" src="" alt="" /></a></li>
        <li ><a href="/systemManage" class="pageName navbar-brand text-light">通知設定</a></li>
        </li>
    </ul>

    <form class="informManageForm" id="informManageForm">
        <fieldset class="form-group">
            <div class="row optionName">
                <legend class="col-form-label col-sm-2 pt-0 ">通知選項</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="inform" id="gridRadios1" value="0" checked>
                        <label class="form-check-label" for="gridRadios1">
                            通知打分數
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="inform" id="gridRadios2" value="1">
                        <label class="form-check-label" for="gridRadios2">
                            通知上傳檔案
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="inform" id="gridRadios3" value="2">
                        <label class="form-check-label" for="gridRadios3">
                            通知老師上傳專題學生名單
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <legend class="optionName">選擇通知時間</legend>
        <input id="date" type="date" value="" min="">

        <div class="form-group row submitButton">
            <div class="col-sm-10">
                 <button type="button" class="btn btn-primary">送出</button><!--測試先用button 之後type要改成submit -->
            </div>
        </div>
    </form>

    <!-- bootstrap -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
    </script>
</body>

</html>