
<html>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<body>
<link rel="stylesheet" href="../css/login.css"/>
<link rel="stylesheet" href="../css/navbar.css"/>
<script src="../javascripts/navbar.js" defer>
</script>



<ul class="nav">
<li id="home" class="icon"><a href="http://elearning.nuk.edu.tw"><img class="placeHolder" src="" alt="" /></a></li>
  <li><a href="http://elearning.nuk.edu.tw">專題瀏覽</a></li>
  <li><a href="http://elearning.nuk.edu.tw">登入</a></li>
  <li id="search" class="icon"><a href="http://elearning.nuk.edu.tw"><img class="placeHolder" src="" alt="" /></a></li>
</ul>

<section class="user">
  <div class="user_options-container">
    <div class="user_options-text">
      <div class="user_options-unregistered">
        <h2 class="user_unregistered-title">歡迎來到GPMS</h2>
        <p class="user_unregistered-text">高大資工專題管理系統</p>
  
      </div>

    
    </div>
    
    <div class="user_options-forms" id="user_options-forms">
      <div class="user_forms-login">
        <h2 class="forms_title">在此登入系統</h2>
        <form class="forms_form" action="/login" method="POST">
          <fieldset class="forms_fieldset">
            <div class="forms_field">
              <input type="text" placeholder="帳號" class="forms_field-input" name="Name" required autofocus />
            </div>
            <div class="forms_field">
              <input type="password" placeholder="密碼" class="forms_field-input" name="Password" required />
            </div>
          </fieldset>
          <div class="forms_buttons">
            
            <input type="submit" value="✎登入" class="forms_buttons-action" >
            
            <input type="button" value="👁訪客登入" class="forms_buttons-action" >
            <input type="button" value="←回上一頁" class="forms_buttons-action" >
          </div>
          <div class="forms_alert">
            
            <h2>您輸入的帳戶資訊錯誤</h2>
            
          </div>

        </form>
      </div>
      
    </div>
  </div>
</section>
</body>
</html>