<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
    <script src="../javascripts/Main.js" defer></script>
    <link rel="stylesheet" href="../css/Main.css">
    <title>RSiTransport</title>
</head>

<body>
    <header>
        <div class="container">
            <nav class="nav">
                
           
                <ul class="nav-list nav-list-larger">
                    <li class="nav-item nav-item-hidden">
                        <a href="/main" class="nav-link nav-link-logo"></a>
                    </li>

                    <li class="nav-item">
                        <a href="#RSITRANS" class="nav-link">台鐵訂票</a>
                    </li>
                    <li class="nav-item">
                        <a href="#hspeed" class="nav-link">高鐵訂票</a>
                    </li>
                    <li class="nav-item">
                        <a href="#bus" class="nav-link">客運訂票</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">快速訂票</a>
                    </li>
                    <li class="nav-item">
                        <a href="#feature-row" class="nav-link">支援</a>
                    </li>
                    <li class="nav-item nav-item-hidden">
                        <a href="/main/Login" class="nav-link nav-link-bag"></a>
                    </li>
                </ul>
                
            </nav>
        </div>
    </header>
    <section>
        <div class="slider-wrap">
            <div class="wrap">
                <div id="arrow-left" class="arrow"></div>
                <div id="slider">
                    <div class="slide slide1">
                        <div class="slide-content">
                            <span class="slide-content-holder">
                                <div class="content-box">
                                    <span>Special Offer</span>
                                </div>
                                <div class="content-title">
                                    <h6>你還在瘋狂下載訂票App?</h6>
                                </div>
                                <div class="content-description">
                                    <h6 style="margin-right: 12px;color:black;"> we're now in</h6>
                                    
                                </div>
                                
                            </span>
                        </div>
                    </div>
                    <div class="slide slide2">
                        <div class="slide-content-slide2">
                          
                            <div class="cta">
                                <a href="https://myotgcard.starbucks.com.tw/StarbucksMemberWebsite/SignIn.html" class="cta-link">了解資訊</a>
    
                            </div>
                            <h3>Live a better day.</h3>
                            <h6>什麼？買車票送星巴克.</h6>
                        </div>
                       
                    </div>
                    <div class="slide slide3">
                        <div class="slide-content-slide3">
                            
                            <h3 style="margin-top: 60px">搭車要配?</h3>
                            <h6 >Apple Music.</h6>
                            <div class="cta">
                                <a href="https://www.apple.com/tw/music/" class="cta-link">領取限時優惠</a>
    
                            </div>
                        </div>
                    </div>
                </div>
                <div id="arrow-right" class="arrow">
                </div>
            </div>
        </div>
        </section>
   <section id="iphone" class="hero RSITRANS-main">
       <div class="container">
           <div class="title">
               <h2 class="title-heading">RSiTransport</h2>
               <h3 class="title-sub-heading">按一下，搭過去</h3>
               <p class="title-price">市面最低手續費，</p>
           </div>
           <div class="cta">
               <a href="" class="cta-link">了解資訊</a>
               <a href="/main/FastOrder" class="cta-link">立即訂票</a>
           </div>
       </div>
   </section>

   <section id="RSITRANS" class="hero RSITRANS">
    <div class="container">
        <div class="title title-dark">
            <h2 class="title-heading">台鐵到站囉！</h2>
            <h3 class="title-sub-heading">月台，月Tai</h3>
            <p class="title-price">2020春節，即將登場</p>
        </div>
        <div class="cta">
            <a href="https://www.railway.gov.tw/" class="cta-link cta-link-darker">了解資訊</a>
            <a href="/main/TaiwanRailway" class="cta-link cta-link-darker">立即訂票</a>
        </div>
    </div>
</section>

<section id="hspeed" class="hero hspeed">
    <div class="container">
        <div class="title title-dark">
            <h2 class="title-heading">快，還要再更快</h2>
            <h3 class="title-sub-heading">嗨~SPEED</h3>
            <p class="title-price">2020春節，即將登場</p>
        </div>
        <div class="cta">
            <a href="http://www.thsrc.com.tw/index.html" class="cta-link cta-link-darker">了解資訊</a>
            <a href="/main/HSpeed" class="cta-link cta-link-darker">立即訂票</a>
        </div>
    </div>
</section>

<section  id="bus" class="hero bus">
    <div class="container">
        <div class="title title-dark">
            <h2 class="title-heading">阿囉哈！和氣欣囍
            </h2>
        
            <h3 class="title-sub-heading">訂不到票？客運也可以<br>
                  </h3>
            
        </div>
        <div class="cta">
            <a href="http://www.ebus.com.tw/" class="cta-link cta-link-darker">了解資訊</a>
            <a href="/main/Bus" class="cta-link cta-link-darker">立即訂票</a>
        </div>
    </div>
</section>

<section id="feature-row" class="feature-row">
<a href="https://www.facebook.com/profile.php?id=100003836184259" class="feature-row-items">
    <img  src="../images/43250611_1157759274361934_8791738750003576832_o.png">
</a>
<a href="https://www.facebook.com/dan.han.144?epa=SEARCH_BOX" class="feature-row-items">
    <img  src="../images/69527873_2202328313212001_756561860739727360_o.png">
</a>
<a href="https://www.facebook.com/steven.yeh.923724" class="feature-row-items">
    <img  src="../images/79102331_214025152934808_5012889169928650752_o.png">
</a>
<a href="#" class="feature-row-items">
    <img src="../images/101308.png">
</a>
</section>

</body>
</html>