<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Teacher Assignment</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Archivo+Narrow' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../css/myProjectTeam.css">

</head>
<body>
<!-- partial:index.partial.html -->


  <header>
    <li id="home" class="icon"><a href="http://elearning.nuk.edu.tw"><img class="placeHolder" src="" alt="" /></a></li>
  </header>
  <ul class="nav">
    
  <div class="wrapper">
  <main>

    <form>
      <label for="item-input">學生</label>
      <input type="text" id="item-input">
      <label for="student_id-input">Student_id</label>
      <input type="text" id="student_id-input">
      <label for="YourTeam">選擇組別</label>
      <select name="YourTeam">
        　<option value="葉子碩">A1065525</option>
        </select>
      
      <button type="submit" class="submit-btn" id="submit-btn">Add</button>
      <button type="button" class="btn" id="back-btn">儲存回上一頁</button>
    </form>

    <div id="lists">

      

      <p class="list__label">組長<span class="indicator" id="teamleader-num"></span></p>
      <ul id="teamleader-list">
      </ul>
      <p class="list__label">組員<span class="indicator" id="teammate-num"></span></p>
      <ul id="teammate-list">
      </ul>
    </div>

  </main>
  <div class="push"></div>
</div>


<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js'></script>
<script  src="../javascripts/myProjectTeam.js"></script>

</body>
</html>
