<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/ProjectShow.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>ProjectShow</title>
    <script src="../public/javascripts/ProjectShowClick.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="row">
          <div class="col-4 ltop">海報</div>
          <div class="col-8 rtop">
            <div class="btn btn-secondary choose poster">選擇檔案</div>
            <div class="btn btn-secondary delete poster">刪除檔案</div>
            <div class="current-file poster">未上傳任何檔案</div>
            <div class="custom-file hidden poster">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
          </div>

          <div class="w-100"></div>
          <div class="col-4">投影片</div>
          <div class="col-8">
            <div class="btn btn-secondary choose ppt">選擇檔案</div>
            <div class="btn btn-secondary delete ppt">刪除檔案</div>
            <div class="current-file ppt">未上傳任何檔案</div>
            <div class="custom-file hidden ppt">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
          </div>

          <div class="w-100"></div>
          <div class="col-4">文件</div>
          <div class="col-8">
            <div class="btn btn-secondary choose doc">選擇檔案</div>
            <div class="btn btn-secondary delete doc">刪除檔案</div>
            <div class="current-file doc">未上傳任何檔案</div>
            <div class="custom-file hidden doc">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
          </div>

          <div class="w-100"></div>
          <div class="col-4 lbottom">程式碼</div>
          <div class="col-8 rbottom">
            <div class="btn btn-secondary choose code">選擇檔案</div>
            <div class="btn btn-secondary delete code">刪除檔案</div>
            <div class="current-file code">未上傳任何檔案</div>
            <div class="custom-file hidden code">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
          </div>

          <div class="w-100"></div>
          <div class="col">
            <div class="button">確認修改</div>
          </div>
          <div class="col">
            <div class="button">取消修改</div>
          </div>
          
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>