<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/ProjectShow.css">
    <link rel="stylesheet" href="../../css/navbar.css"/>
    <script src='../../javascripts/ProjectShow.js' defer=''></script>
    <title>ProjectShow</title>
</head>
<body>
  <ul class="nav">
    <li id="home" class="icon"><a href="http://elearning.nuk.edu.tw"><img class="placeHolder" src="" alt="" /></a></li>
      <li><a href="http://elearning.nuk.edu.tw">專題瀏覽</a></li>
      <li><a href="http://elearning.nuk.edu.tw">登入</a></li>
      <li id="search" class="icon"><a href="http://elearning.nuk.edu.tw"><img class="placeHolder" src="" alt="" /></a></li>
  </ul>

  <div class="container">
    <button type="button" class="btn btn-primary back">返回</button>
    <button type="button" class="btn btn-success modify">修改資料</button>
    
    <div class="item title align-middle">
      <div class="titleText">(標題)</div>
      <form><input type="text" placeholder="請輸入標題..." class="titleInput hidden"></form>
    </div>
    <div class="item description">
      <div class="desText">(描述)</div>
      <form><textarea rows="4" placeholder="請輸入專題描述..." style="width:100%;height:200%;" class="desInput hidden"></textarea></form>
    </div>

    <div class="ppdc">
      <div class="item poster">
        <img src="" width="70%" class="posterImg">
        <div class="posterName">尚未上傳檔案</div>
      </div>
      <div class="item ppt">
        <img src="" width="70%" class="pptImg">
        <div class="pptName">尚未上傳檔案</div>
      </div>
      <div class="item doc">
        <img src="" width="70%" class="docImg">
        <div class="docName">尚未上傳檔案</div>
      </div>
      <div class="item code">
        <img src="" width="70%" class="codeImg">
        <div class="codeName">尚未上傳檔案</div>
      </div>
    </div>

    <div class="ppdcText">
      <div class="pptText">海報</div>
      <div class="posterText">投影片</div>
      <div class="docText">文件</div>
      <div class="codeText">程式碼</div>
    </div>

    <div class="updateButton hidden">
      <div class="posterCBox">
        <!-- <button onclick="posterCh.click()">選擇海報</button>
        <input type="file" accept=".pdf" id="posterCh" style="display:none;"> -->
        <form id        =  "uploadForm"
        enctype   =  "multipart/form-data"
        action    =  "/systemManage/projectManage/projectShow/upload"
        method    =  "post">
          <button onclick="posterCh.click()">選擇海報</button>
          <input type="file" accept=".pdf" id="posterCh" style="display:none;">
          <button onclick="posterSub.click()">確認上傳</button>
          <input type="submit" id="posterSub" name="submit">
       </form>
        <button id="posterDel">刪除海報</button>
      </div>
      <div class="pptCBox">
        <!-- <button onclick="pptCh.click()">選擇簡報</button>
        <input type="file" accept=".ppt,.pptx" id="pptCh" style="display:none;"> -->
        <form id        =  "uploadForm"
        enctype   =  "multipart/form-data"
        action    =  "/systemManage/projectManage/projectShow/upload"
        method    =  "post">
          <button onclick="pptCh.click()">選擇簡報</button>
          <input type="file" accept=".ppt,.pptx" id="pptCh" style="display:none;">
          <input type="submit" value="確認上傳" name="submit">
       </form>
        <button id="pptDel">刪除簡報</button>
      </div>
      <div class="docCBox">
        <!-- <button onclick="docCh.click()">選擇文件</button>
        <input type="file" accept=".doc,.docx" id="docCh" style="display:none;"> -->
        <form id        =  "uploadForm"
        enctype   =  "multipart/form-data"
        action    =  "/systemManage/projectManage/projectShow/upload"
        method    =  "post">
          <button onclick="docCh.click()">選擇文件</button>
          <input type="file" accept=".doc,.docx" id="docCh" style="display:none;">
          <input type="submit" value="確認上傳" name="submit">
       </form>
        <button id="docDel">刪除文件</button>
      </div>
      <div class="codeCBox">
        <!-- <button onclick="codeCh.click()">選擇程式</button>
        <input type="file" enctype="multipart/form-data" accept=".zip,.rar,.7z" id="codeCh" style="display:none;"> -->
        <form id        =  "uploadForm"
        enctype   =  "multipart/form-data"
        action    =  "/systemManage/projectManage/projectShow/upload"
        method    =  "post">
          <button onclick="codeCh.click()">選擇程式</button>
          <input type="file" enctype="multipart/form-data" accept=".zip,.rar,.7z" id="codeCh" style="display:none;">
          <input type="submit" value="確認上傳" name="submit">
       </form>
        <button id="codeDel">刪除程式</button>
      </div>
    </div>

  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>