<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/ProjectShow.css">
    <link rel="stylesheet" href="../public/css/navbar.css"/>
    <title>ProjectShow</title>
</head>
<body>
  <ul class="nav">
    <li id="home" class="icon"><a href="http://elearning.nuk.edu.tw"><img class="placeHolder" src="" alt="" /></a></li>
      <li><a href="http://elearning.nuk.edu.tw">專題瀏覽</a></li>
      <li><a href="http://elearning.nuk.edu.tw">登入</a></li>
      <li id="search" class="icon"><a href="http://elearning.nuk.edu.tw"><img class="placeHolder" src="" alt="" /></a></li>
  </ul>

  <div class="container">
    <div class="buttonBox">
      <button type="button" class="btn btn-primary back">返回</button>
      <button type="button" class="btn btn-success modify">修改資料</button>
    </div>
    <div class="item title align-middle">(標題)</div>
    <div class="item description">(描述)</div>

    <div class="ppdc">
      <div class="item poster">
        <img src="../public/images/poster (1).png" width="70%">
        (海報)
      </div>
      <div class="item ppt">
        <img src="../public/images/microsoft-powerpoint.png" width="70%">
        (投影片)
      </div>
      <div class="item doc">
        <img src="../public/images/microsoft-word.png" width="70%">
        (文件)
      </div>
      <div class="item code">
        <img src="../public/images/compressed.png" width="70%">
        (程式碼)
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>