<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/ProjectShow.css">
    <link rel="stylesheet" href="../../css/navbar.css"/>
    <script src='../../javascripts/ProjectShow.js' defer=''></script>
    <title>ProjectShow</title>
</head>
<body style="font-family: '微軟正黑體';">
  <!-- <ul class="nav">
    <li id="home" class="icon"><a href="http://elearning.nuk.edu.tw"><img class="placeHolder" src="" alt="" /></a></li>
      <li><a href="http://elearning.nuk.edu.tw">專題瀏覽</a></li>
      <li><a href="http://elearning.nuk.edu.tw">登入</a></li>
      <li id="search" class="icon"><a href="http://elearning.nuk.edu.tw"><img class="placeHolder" src="" alt="" /></a></li>
  </ul> -->
  <ul class="nav" style="display: block;">
    <li id="home" class="icon"><a href="http://elearning.nuk.edu.tw"><img class="placeHolder" src="" alt="" /></a></li>
    <li ><a href="" class="pageName navbar-brand text-light">專題資訊</a></li>
    <button class="btn btn-link my-2 my-sm-0 text-light modifyPassword " type="button">
      <a style="color: white;" href="">
        回到主頁
      </a>
    </button>
    </li>
  </ul>

  <div class="container">
    <button type="button" class="btn btn-primary back">返回</button>
    <button type="button" class="btn btn-success modify" data-toggle="modal" data-target="#exampleModalCenter">
      修改資料
    </button>
    
    <div class="item title align-middle">
      <div class="titleText">(標題)</div>
      <form><input type="text" placeholder="請輸入標題..." class="titleInput hidden"></form>
    </div>
    <div class="item author">
      <div class="teacherText">(指導老師)</div>
      <div class="studentText">學生</div>
    </div>
    <div class="item description">
      <div class="desText">(描述)</div>
      <form><textarea rows="4" placeholder="請輸入專題描述..." style="width:100%;height:200%;" class="desInput hidden"></textarea></form>
    </div>

    <div class="ppdc">
      <form id        =  "uploadForm"
        action    =  "/systemManage/projectManage/projectShow/download"
        method    =  "post">
        <div class="item poster" onclick="">
          <img src="" width="70%" class="posterImg">
          <div class="posterName">尚未上傳檔案</div>
        </div>
        <input type="text" name="downloadType" value="poster" style="display:none;">
        <input type="submit" id="posterDownload" name="posterDownload" style="display:none;">
      </form>

      <form id        =  "uploadForm"
        action    =  "/systemManage/projectManage/projectShow/download"
        method    =  "post">
        <div class="item ppt" onclick="">
          <img src="" width="70%" class="pptImg">
          <div class="pptName">尚未上傳檔案</div>
        </div>
        <input type="text" name="downloadType" value="ppt" style="display:none;">
        <input type="submit" id="pptDownload" name="pptDownload" style="display:none;">
      </form>
      
      <form id        =  "uploadForm"
        action    =  "/systemManage/projectManage/projectShow/download"
        method    =  "post">
        <div class="item doc" onclick="">
          <img src="" width="70%" class="docImg">
          <div class="docName">尚未上傳檔案</div>
        </div>
        <input type="text" name="downloadType" value="doc" style="display:none;">
        <input type="submit" id="docDownload" name="docDownload" style="display:none;">
      </form>

      <form id        =  "uploadForm"
        action    =  "/systemManage/projectManage/projectShow/download"
        method    =  "post">
        <div class="item code" onclick="">
          <img src="" width="70%" class="codeImg">
          <div class="codeName">尚未上傳檔案</div>
        </div>
        <input type="text" name="downloadType" value="code" style="display:none;">
        <input type="submit" id="codeDownload" name="codeDownload" style="display:none;">
      </form>
    </div>

    <div class="ppdcText">
      <div class="pptText">海報</div>
      <div class="posterText">投影片</div>
      <div class="docText">文件</div>
      <div class="codeText">程式碼</div>
    </div>

    <div class="updateButton hidden">
      <div class="posterCBox">
        <!-- <button onclick="posterCh.click()">選擇海報</button>
        <input type="file" accept=".pdf" id="posterCh" style="display:none;"> -->
        <form id        =  "uploadForm"
        enctype   =  "multipart/form-data"
        action    =  "/systemManage/projectManage/projectShow/upload"
        method    =  "post">
          <button class="choose" onclick="this.disabled=true; posterCh.click()">選擇海報</button>
          <input type="file" accept=".pdf" id="posterCh" name="userFile" style="display: none;" >
          <button class="choose" onclick="posterSub.click(); window.location.reload()">確認上傳</button>
          <input type="text" value="poster" name = 'uploadType' style="display: none;">
          <input type="submit" id="posterSub" name="submit" style="display: none;">

       </form>
      </div>
      <div class="pptCBox">
        <!-- <button onclick="pptCh.click()">選擇簡報</button>
        <input type="file" accept=".ppt,.pptx" id="pptCh" style="display:none;"> -->
        <form id        =  "uploadForm"
        enctype   =  "multipart/form-data"
        action    =  "/systemManage/projectManage/projectShow/upload"
        method    =  "post">
          <button class="choose" onclick="this.disabled=true;pptCh.click()">選擇簡報</button>
          <input type="file" accept=".ppt,.pptx" id="pptCh" name="userFile" style="display:none;">
          <button class="choose" onclick="pptSub.click()">確認上傳</button>
          <input type="text" value="ppt" name = 'uploadType' style="display: none;">
          <input type="submit" id="pptSub" name="submit" style="display:none;">
       </form>
      </div>
      <div class="docCBox">
        <!-- <button onclick="docCh.click()">選擇文件</button>
        <input type="file" accept=".doc,.docx" id="docCh" style="display:none;"> -->
        <form id        =  "uploadForm"
        enctype   =  "multipart/form-data"
        action    =  "/systemManage/projectManage/projectShow/upload"
        method    =  "post">
          <button class="choose" onclick="this.disabled=true;docCh.click()">選擇文件</button>
          <input type="file" accept=".doc,.docx" id="docCh" name="userFile" style="display:none;">
          <button class="choose" onclick="this.disabled=true;docSub.click()">確認上傳</button>
          <input type="text" value="doc" name = 'uploadType' style="display: none;">
          <input type="submit" id="docSub" name="submit" style="display:none;">
        </form>
      </div>
      <div class="codeCBox">
        <!-- <button onclick="codeCh.click()">選擇程式</button>
        <input type="file" enctype="multipart/form-data" accept=".zip,.rar,.7z" id="codeCh" style="display:none;"> -->
        <form id        =  "uploadForm"
        enctype   =  "multipart/form-data"
        action    =  "/systemManage/projectManage/projectShow/upload"
        method    =  "post">
          <button class="choose" onclick="this.disabled=true;codeCh.click()">選擇程式</button>
          <input type="file" enctype="multipart/form-data" accept=".zip,.rar,.7z" id="codeCh" name="userFile" style="display:none;">
          <button class="choose" onclick="this.disabled=true;codeSub.click()">確認上傳</button>
          <input type="text" value="code" name = 'uploadType' style="display: none;">
          <input type="submit" id="codeSub" name="submit" style="display:none;">
       </form>
      </div>
    </div>

  </div>

  <!-- 修改資料button彈跳視窗 -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">選擇修改...</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="modifyTD" data-dismiss="modal">修改標題/描述/刪除資料</div>
          <div id="modifyUpData" data-dismiss="modal">上傳資料</div>
        </div>
      </div>
    </div>
  </div>
  <!-- 修改資料button彈跳視窗 -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>