<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/navbar.css" />
  <script src="../javascripts/navbar.js" defer></script>

  <link rel="stylesheet" href="../css/studentMain.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src='../javascripts/studentMain.js' defer=''></script>
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC:700" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>學生主頁</title>
</head>

<body>
  <!-- <nav class="navbar navbar-dark bg-dark ">
    <a class="navbar-brand text-light pageName">學生主頁面</a>
    <button class="btn btn-outline-primary my-2 my-sm-0 text-light modifyPassword" type="button">更改密碼</button>
  </nav> -->
  <ul class="nav" style="display: block;">
    <li id="home" class="icon"><a href="http://elearning.nuk.edu.tw"><img class="placeHolder" src="" alt="" /></a></li>
    <li ><a href="/studentMain" class="pageName navbar-brand text-light">學生主頁面</a></li>
    <button class="btn btn-link my-2 my-sm-0 text-light modifyPassword " type="button">
      <!-- link有問題 -->
      <a style="color: white;" href="/studentMain/userModifyPassword">
        更改密碼
      </a>
    </button>
    <button class="btn btn-link my-2 my-sm-0 text-light modifyPassword " type="button">
      <a style="color: white;" href="/">
        登出
      </a>
    </button>
    <button class='notification'></button>
    </li>
  </ul>

  <div class="contents" id="multiCollapseExample1">
    <div class="notification-container">
      <div class="card-header">
        通知
      </div>
      <% inform.forEach(ele => { %>
      <div class="card card-body notificationBox">
        <div class="notificationTime">
          <p><%= ele.Time %></p>
        </div>
        <div class="notificationType">
         <%= ele.Type %>
        </div>
        
      </div>
      <% }) %>
    </div>
    <div id="head" class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">您好，XXX學生!</h1>
    </div>

    <div class="container ">
      <div class="card-group" style="margin-bottom:1rem">

        <div class="col-sm-4">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">瀏覽畢業專題</h5>
              <p class="card-text">顯示專題列表，可查詢以及查看想要看的專題，並進行評分。</p>
              <a href="/studentMain/projectManage" class="btn btn-primary">進入 &raquo;</a>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">我的專題資訊</h5>
              <p class="card-text">進入我的專題頁面，可以看到自己的標題、摘要、四個檔案，並可以進行修改。</p>
              <a name="<%=teamLeader %>" class="btn btn-primary myProject" style="color: white;">進入 &raquo;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
  </script>
</body>

</html>