<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/navbar.css" />
    <script src="../javascripts/navbar.js" defer></script>

    <link rel="stylesheet" href="../css/userModifyPassword.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='../javascripts/userModifyPassword.js' defer=''></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>更改密碼(管理員)</title>
</head>

<body>
    <ul class="nav" style="display: block;">
        <li id="home" class="icon"><a href="http://elearning.nuk.edu.tw" style="height:auto;"><img class="placeHolder" src="" alt="" /></a></li>
        <li ><a href="/systemManage" class="pageName navbar-brand text-light">修改密碼</a></li>
    </ul>

    <form class="modifyPasswordForm" id="modifyPasswordForm">

        <div class="container ">
            <div class="form-group row nameAndInput justify-content-md-center">
                <label for="inputPassword" class="col-sm-2 col-form-label name">目前密碼</label>
                <div class="col-sm-10 formInput">
                    <input type="password" class="form-control " id="inputOldPassword" placeholder="目前密碼">
                </div>
            </div>
            <div class="form-group row nameAndInput justify-content-md-center">
                <label for="inputPassword" class="col-sm-2 col-form-label name">新密碼</label>
                <div class="col-sm-10 ">
                    <input type="password" class="form-control " id="inputNewPassword" placeholder="新密碼">
                </div>
            </div>
            <div class="form-group row nameAndInput justify-content-md-center">
                <label for="inputPassword" class="col-sm-2 col-form-label name">確認密碼</label>
                <div class="col-sm-10 ">
                    <input type="password" class="form-control " id="inputCheckPassword" placeholder="確認密碼">
                </div>
            </div>
        </div>
        <!-- <div class="error type1">密碼有錯</div> -->
        <div class="error ">請輸入合法或正確的密碼(8~16位數包含英數字)</div>
        <!-- <div class="error type3">確認密碼與新密碼不同</div> -->

        <button type="button" class="btn btn-primary  mb-2 submitButton" data-toggle="modal"
            data-target="#submitModal">送出</button>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="submitModalTitle">提示！</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    確定要更改嗎？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal">確定更改</button>
                </div>
            </div>
        </div>
    </div>


    <!-- bootstrap -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
    </script>
</body>

</html>