body{
    font-family: "微軟正黑體" !important;
}
.exhibit ul li{
    display:flex ;
    justify-content: space-between;
    align-items: center;
}
.exhibit .row .pagination li{
    padding: 0 ;
    margin-top: 2vh ;
    background-color: white;
}

.exhibit .list-group{
    height:auto
}

.nav{
    display: block !important;

}
.nav a{
    color: white;
    
}