html {
  box-sizing: border-box;
  font-family: "Microsoft YaHei","Microsoft JhengHei", sans-serif;
  font-size: 18px;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100%;
  background:url(https://vignette.wikia.nocookie.net/doki-doki-literature-club/images/0/0f/Class.png/revision/latest?cb=20171231181828);
  background-size:cover;

}

a {
  color: white;
}


.push {
  height: 2em;
  
}

main {
  width: 95vw;
  margin: 1em auto;
}

.wrapper {
  margin: 0 auto -2em;
  margin-top: 5%;
  padding-top: 1%;
  border-radius: 10px;
  width:33%;
  background: linear-gradient(0deg, rgba(255,229,243,0.7035189075630253) 0%, rgba(255,189,225,1) 50%);
}

form {
  width: inherit;

}

label {
  display: block;
  line-height: 1.5em;
}

input {
  width: inherit;
  padding: 1em;
}


button {

  padding: 1em;

  margin: .75em 0;
  margin-left: 5.3em;
}

button:hover {
 
  transform: scale(1.1);
} 
.icon {
  display: inline-block;
  width: .9em;
  height: .9em;
  margin-right: .25em;
  fill: #004A55;
}

#notassigned-list li:before, #assigned-list li:before {
  content: "";
  display: inline-block;
  background-size: 100%;
  height: .9em;
  width: 1em;
  margin-right: .3em;
}
#notassigned-list li:before {
  background-image: url("https://res.cloudinary.com/ddy54k4ks/image/upload/v1454106412/svg/checkmark2.svg");
}
#assigned-list li:before {
  background-image: url("https://res.cloudinary.com/ddy54k4ks/image/upload/v1454106412/svg/checkmark.svg");
}

ul2 {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
ul {
  width: 100%;
  height: 3em;
  background:linear-gradient(to right, #000000 0%,#000000 33%,#3C3C3C 33%,#3C3C3C 66%,#5B5B5B 66%, #5B5B5B 100%);
  text-align: center;
  margin: 0;
  font-size: 16px;
  padding: 0px;
}
li {
  color: black;
  padding: .75em;
  cursor: pointer;
  margin: .5em 0;
  border: 1px solid #004A55;
  position: relative;
  transition: background-color .2s;
}
li2 {
  padding-top: .2em;
  display: inline-block;
  padding-left: 3.5em;
  padding-bottom: 3em;
  font-family: "Montserrat","Microsoft YaHei","Microsoft JhengHei", sans-serif;
}
li:hover {
  background-color: #A7CDCC;
}

.student_id {
  color: #F87D09;
}
.student_id:before {
  content: "(";
}
.student_id:after {
  content: ")";
}

.delete {
  float: right;
  padding: inherit;
  position: absolute;
  right: 0;
  top: 0;
}
.delete:after {
  clear: both;
}

#assigned-list li {
  background-color: #F6F6F6;
}
#assigned-list li .student_id {
  color: #666666;
}

.list__label {
  border-bottom: 2px solid #F87D09;
  font-size: .75em;
  color: black;
  padding: 0;
}

@media screen and (min-width: 420px) {
  main {
    width: 420px;
  }
}
#home{
  background-image: url("../images/GPMS_Logo.png");
  background-size:contain;
  background-position: 50% 50%;
  margin:0 !important;
  background-repeat: no-repeat;
}
.nav
{

  display:block;
}