.Administrator ul li{
    display:flex ;
    justify-content: space-between;
    align-items: center;
}
.Administrator nav li{
    padding-left: 0;
    margin-top: 2vh;
}
.Administrator .list-group{
    height:auto
}
