.Administrator ul li{
    display:flex ;
    justify-content: space-between;
    align-items: center;
}
.Administrator .row .pagination li{
    padding: 0 ;
    margin-top: 2vh ;
    background-color: white;
}

.Administrator .list-group{
    height:auto
}

.Student ul li{
    display:flex ;
    justify-content: space-between;
    align-items: center;
}
.Student .row .pagination li{
    padding: 0 ;
    margin-top: 2vh ;
    background-color: white;
}
.Student .list-group{
    height:auto
}

.Teacher ul li{
    display:flex ;
    justify-content: space-between;
    align-items: center;
}
.Teacher .row .pagination li{
    padding: 0 ;
    margin-top: 2vh ;
    background-color: white;
}
.Teacher .list-group{
    height:auto
}

.Guest ul li{
    display:flex ;
    justify-content: space-between;
    align-items: center;
}
.Guest .row .pagination li{
    padding: 0 ;
    margin-top: 2vh ;
    background-color: white;
}
.Guest .list-group{
    height:auto
}

.scoreContainer{
    align-items: flex-end;
    font-size: small;
    vertical-align:bottom;
    margin-top: 5vh ;
}
