body{
  margin:0;
}

.nav{
  display:block;
}

.container{
  width: 48%;
  height: 72%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.title{
  height: 15%;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 200%;
  background-color: #c8e6f8;
  background-image: linear-gradient(160deg, #f4f1fd 0%, #eceaf7 127%);
  overflow-x: auto;
}

.author{
  height: 20%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 130%;
  background-color: #c8e6f8;
  background-image: linear-gradient(160deg, #f4f1fd 0%, #eceaf7 127%);
  overflow-x: auto;
}

.description{
  height:35%;
  font-size: 130%;
  padding: 1.5%;
  overflow-y: auto;
}

.item{
  background-color: #fafafd;
  background-image: linear-gradient(130deg, #e9e4fa 0%, #e6f4fc 85%, #e9f8f6 100%);
  box-shadow: 0 1px 1px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #201f1f;
  max-width: 100%;
  padding:1%;
  border-radius: 2px;
  border: 3px solid #cfcfcf;
  margin-top: 1.3%;
}

.ppdc{
  display:flex;
  justify-content: space-around;
  height:30%;
}

.ppdc form{
  display:block;
  height: 100%;
  width: 100%;
}

.ppdc div{
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.ppdc .item{
  overflow-x: auto;
}

.ppdcText{
  margin-top: 2%;
  font-weight: bold;
  display:flex;
  justify-content: space-around;
}

.updateButton{
  font-size: 80%;
  margin-top: 2%;
  display:flex;
  justify-content: space-around;
}

.hidden{
  display:none;
}

.downhover:hover{
  cursor: pointer;
  opacity: 0.5;
}

.modal-body div{
  text-align: center;
  font-size: 120%;
  width: 100%;
  border-bottom: 2px solid #d8d5d5;
}
.modal-body div:hover{
  cursor: pointer;
  opacity: 0.5;
}