body{
    font-family:Microsoft JhengHei !important;
}
.modifyPasswordForm{

    margin: 0 auto;
    width:40em;
    display: flex;
    text-align: center;
    Justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.nameAndInput{
    width: 40em;
}
.name{
    margin-right: -15em;
}
#inputNewPassword,#inputOldPassword,#inputCheckPassword{
    margin-left: 15em;
    width: 15em;

}
.submitButton{
    width: 5em;
}
.error{
    color: red;
    margin-bottom: 10px;
    display: none;
}
/* 
.navbar{
    display: flex;
    justify-content: center;
    
} */